@* @using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;
}

@{
	var selection = Umbraco.Content(Guid.Parse("ec55b6f4-0444-46c5-bb85-71f179f32ffb")).ChildrenOfType("serviceItemTemplate")
    .Where(x => x.IsVisible());
} 

<section id="our-serives">
	<div class="container">
		@if (!string.IsNullOrEmpty(Model?.Value("customHeadline").ToString())){
			<div class="headline">
				<h2 class="title">@Model?.Value("customHeadline")</h2>
			</div>
		}
		<div class="services">
			@foreach (var item in selection)
			{
				var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
				var preamble = item?.Value<string>("preamble") ?? "";

                <a href="@item?.Url()">
					<div class="item">
						<div class="header">
							<h4>@item?.Name</h4>
						</div>
						<div class="body">
							<img src="@image" alt="@item?.Name()" >
						</div>
						<div class="footer">
							<p class="card-body">@preamble</p>
						</div>
					</div>
				</a>

			}
		</div>
	</div>
</section>

 *@